.carousel h1{
    color: #31C6BA;
}
.carousel img{
    height: 500px !important;
}

.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;

}
.blog{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
    color: darkslategrey !important;
}
.blog-half{
    background-color: rgb(223, 194, 223);
    margin: 20px;
    padding: 10px;
}

.caption{
    padding-top: 100px;
    background-color: rgb(97, 102, 102);
    color: white;
}


@media only screen and (max-width:688px){
    .service-container .blog{
        grid-template-columns: repeat(1, 1fr);
    }
    
}