	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/01/2019 23:02
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

/*start not Change*/
[class*="flaticon"]{display: block;} 
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}
/*end not change*/

.flaticon-hospital:before { content: "\f100"; }
.flaticon-doctor:before { content: "\f101"; }
.flaticon-nurse:before { content: "\f102"; }
.flaticon-syringe:before { content: "\f103"; }
.flaticon-ambulance:before { content: "\f104"; }
.flaticon-alarm:before { content: "\f105"; }
.flaticon-ambulance-1:before { content: "\f106"; }
.flaticon-medicine:before { content: "\f107"; }
.flaticon-customer-service:before { content: "\f108"; }
.flaticon-dna:before { content: "\f109"; }
.flaticon-lungs:before { content: "\f10a"; }
.flaticon-heart:before { content: "\f10b"; }
.flaticon-brain:before { content: "\f10c"; }
.flaticon-bed:before { content: "\f10d"; }
.flaticon-diagnostic:before { content: "\f10e"; }
.flaticon-drop:before { content: "\f10f"; }
.flaticon-transfusion:before { content: "\f110"; }
.flaticon-blood-transfusion:before { content: "\f111"; }
.flaticon-blood-test:before { content: "\f112"; }
.flaticon-drugs:before { content: "\f113"; }
.flaticon-capsules:before { content: "\f114"; }
.flaticon-cancer:before { content: "\f115"; }
.flaticon-thermometer:before { content: "\f116"; }
.flaticon-laboratory:before { content: "\f117"; }
.flaticon-medical-history:before { content: "\f118"; }
.flaticon-test-tube:before { content: "\f119"; }
.flaticon-heart-beat:before { content: "\f11a"; }
.flaticon-pulse:before { content: "\f11b"; }
.flaticon-stethoscope:before { content: "\f11c"; }
.flaticon-stethoscope-1:before { content: "\f11d"; }
.flaticon-wheelchair:before { content: "\f11e"; }
.flaticon-pregnant:before { content: "\f11f"; }
.flaticon-caduceus:before { content: "\f120"; }
.flaticon-healthcare-and-medical:before { content: "\f121"; }
.flaticon-ecg:before { content: "\f122"; }
.flaticon-doctor-1:before { content: "\f123"; }
.flaticon-nurse-1:before { content: "\f124"; }
.flaticon-kidney:before { content: "\f125"; }
.flaticon-pancreas:before { content: "\f126"; }
.flaticon-tooth:before { content: "\f127"; }
.flaticon-hide:before { content: "\f128"; }
.flaticon-view:before { content: "\f129"; }
.flaticon-baby-diaper:before { content: "\f12a"; }
.flaticon-babies-medicine:before { content: "\f12b"; }
.flaticon-nipple:before { content: "\f12c"; }
.flaticon-proteins:before { content: "\f12d"; }
.flaticon-baby:before { content: "\f12e"; }
.flaticon-baby-weight:before { content: "\f12f"; }
.flaticon-height:before { content: "\f130"; }
.flaticon-sick:before { content: "\f131"; }
.flaticon-molecule:before { content: "\f132"; }
.flaticon-microscope:before { content: "\f133"; }
.flaticon-genetic-modification:before { content: "\f134"; }
.flaticon-tomography:before { content: "\f135"; }
.flaticon-mammogram:before { content: "\f136"; }
.flaticon-tooth-1:before { content: "\f137"; }
.flaticon-ultrasound:before { content: "\f138"; }
.flaticon-ultrasound-1:before { content: "\f139"; }
.flaticon-cell-division:before { content: "\f13a"; }
.flaticon-bacteria:before { content: "\f13b"; }
.flaticon-bone-cancer:before { content: "\f13c"; }
.flaticon-breast:before { content: "\f13d"; }
.flaticon-dentist:before { content: "\f13e"; }
.flaticon-dentist-1:before { content: "\f13f"; }
.flaticon-dentist-2:before { content: "\f140"; }
.flaticon-teeth:before { content: "\f141"; }
.flaticon-dentist-3:before { content: "\f142"; }
.flaticon-implant:before { content: "\f143"; }
.flaticon-teeth-1:before { content: "\f144"; }
.flaticon-dentist-4:before { content: "\f145"; }
.flaticon-dental:before { content: "\f146"; }
.flaticon-dental-1:before { content: "\f147"; }
.flaticon-dental-2:before { content: "\f148"; }
.flaticon-tooth-2:before { content: "\f149"; }
.flaticon-dental-3:before { content: "\f14a"; }
.flaticon-rehabilitation:before { content: "\f14b"; }
.flaticon-chiropractic:before { content: "\f14c"; }
.flaticon-physiotherapy:before { content: "\f14d"; }
.flaticon-rehabilitation-1:before { content: "\f14e"; }
.flaticon-physiotherapy-1:before { content: "\f14f"; }
.flaticon-therapy:before { content: "\f150"; }
.flaticon-physiotherapy-2:before { content: "\f151"; }
.flaticon-stretch:before { content: "\f152"; }
.flaticon-vision:before { content: "\f153"; }
.flaticon-optic:before { content: "\f154"; }
.flaticon-eyeball-structure:before { content: "\f155"; }
.flaticon-eye:before { content: "\f156"; }
.flaticon-brain-1:before { content: "\f157"; }
.flaticon-intellectual:before { content: "\f158"; }
.flaticon-ai:before { content: "\f159"; }
.flaticon-brain-2:before { content: "\f15a"; }
.flaticon-stress:before { content: "\f15b"; }
.flaticon-brain-3:before { content: "\f15c"; }
.flaticon-brainstorm:before { content: "\f15d"; }
.flaticon-man-on-his-knees-with-head-on-floor:before { content: "\f15e"; }
.flaticon-knee:before { content: "\f15f"; }
.flaticon-bone:before { content: "\f160"; }
.flaticon-knee-1:before { content: "\f161"; }
.flaticon-human-hip:before { content: "\f162"; }
.flaticon-x-ray:before { content: "\f163"; }
.flaticon-plastered-foot:before { content: "\f164"; }
.flaticon-fracture-arm:before { content: "\f165"; }
.flaticon-liver:before { content: "\f166"; }
.flaticon-two-kidneys:before { content: "\f167"; }
.flaticon-colon:before { content: "\f168"; }
.flaticon-stomach:before { content: "\f169"; }
.flaticon-stomach-1:before { content: "\f16a"; }
.flaticon-stomach-2:before { content: "\f16b"; }
.flaticon-stomach-3:before { content: "\f16c"; }
.flaticon-gallbladder:before { content: "\f16d"; }
.flaticon-small-intestine:before { content: "\f16e"; }
.flaticon-eye-1:before { content: "\f16f"; }
.flaticon-contact-lens:before { content: "\f170"; }
.flaticon-mammography:before { content: "\f171"; }
.flaticon-pelvic-area:before { content: "\f172"; }
.flaticon-uterus:before { content: "\f173"; }
.flaticon-uterus-1:before { content: "\f174"; }
.flaticon-insemination:before { content: "\f175"; }
.flaticon-sperm:before { content: "\f176"; }
.flaticon-ovum:before { content: "\f177"; }
.flaticon-fetus:before { content: "\f178"; }
.flaticon-pregnancy:before { content: "\f179"; }
.flaticon-pregnancy-test:before { content: "\f17a"; }
.flaticon-human-fetus:before { content: "\f17b"; }
.flaticon-pregnant-1:before { content: "\f17c"; }
.flaticon-vagina:before { content: "\f17d"; }
.flaticon-cross:before { content: "\f17e"; }
.flaticon-gloves:before { content: "\f17f"; }
.flaticon-warrior:before { content: "\f180"; }
.flaticon-testing-glasses-1:before { content: "\f181"; }
.flaticon-testing-glasses:before { content: "\f182"; }
.flaticon-optometrist:before { content: "\f183"; }
.flaticon-retinal-scan:before { content: "\f184"; }